/* The name of the object is vueMainHeader.
 * every class property should have the prefix 'main-header-' */

.main-header-container{
  width:100%;
  min-width:1200px;
  height:70px;
  background-color:#fff;
  position:fixed;
  z-index:100;
  top:0
}

.main-header-contents {
  height:90%; /* 10% for shadow */
  max-width:1200px;
  margin: 0 auto
}

.main-header-logo {
  float: left;
  width: 50%;
}

.main-header-menu {
  float: left;
  width: 50%;
}

.main-header-menu-buttons {
  padding: 10px 10px 10px 10px;
  float: right;
}

hr.main-header-shadow {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
